%summary_styles {
	font-size: var(--wp--preset--font-size--small);
	font-weight: 700;
	color: var(--wp--preset--color--gold);
}

details.wp-block-details {
	margin-block: 2rem !important;

	summary {
		@extend %summary_styles;

		& * {
			@extend %summary_styles;
		}

		& ~ * {
			font-family: var(--wp--preset--font-family--body);
		}
	}
}
